.canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    /* Let clicks pass through, but we might want mouse tracking on parent */
}

.canvas {
    display: block;
    width: 100%;
    height: 100%;
}